<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> @ViewData["Title"] - Theater_De_Rinkelaar</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rhodium+Libre&display=swap" rel="stylesheet">
</head>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<body>

    <div class="header">
        <div class="flexboxplswerk">
            
            @*<input type="image" src="https://i.imgur.com/daOvtF6.png" class="toplogo"/>*@
            <a  class="toplogoa" href="/">
                <img class=toplogo alt="Homeknop" src="img/logo.png" onMouseOver="this.src='img/logo-active.png'" onMouseOut="this.src='img/logo.png'">
            </a>
            <div class="zoekbalk" style="float: right;">
                <form action="hiermoetduszegmaarshitnaardatabase">
                    <input class="zoeken" type="text" placeholder="Zoeken..." name="search">
                    @*<button type="submit">Submit</button>*@
                </form>
            </div>
        </div>
        <div class="bigtext">@ViewData["Title"]</div>
    </div>



    <div class="navbar" id="mynavbar">
        <a class="@if (ViewData["activeTab"] == "home") { <text>active</text>}" href="/">Home</a>
        <a class="@if (ViewData["activeTab"] == "agenda") { <text>active</text>}" href="Agenda">Agenda</a>
        <a class="@if (ViewData["activeTab"] == "info") { <text>active</text>}" href="InformatieTheater">Informatie Theater</a>
        <a class="@if (ViewData["activeTab"] == "Voorstellingen") { <text>active</text>}" href="OnzeVoorstellingen">Onze Voorstellingen</a>
        <a class="@if (ViewData["activeTab"] == "contact") { <text>active</text>}" href="Contact">Contact</a>
        
    </div>






    
    <div class='article'>
        @RenderBody()

        <div class="footer">
    <a  class="botlogoa" href="/">
            <img class=botlogo alt="Homeknop" src="img/logo.png" onMouseOver="this.src='img/logo-active.png'" onMouseOut="this.src='img/logo.png'">
             </a>

    <table>
        <tr>
            <td>Theater de Rinkelaar</td>
            <td>Volg ons op:</td>
        </tr>

        <tr>
            <td>Vragen? <br> <a class="miniknop" href = contact>Contact Pagina</a>
            
            </td>
            <td><a  href="https://www.instagram.com/omehenk.be/">
            <img alt="Instagram" src="img/instagram-logo.png" width="80" height="80" onMouseOver="this.src='img/instagram-logo-active.png'" onMouseOut="this.src='img/instagram-logo.png'">
             </a>    </td>
            <td><a  href="https://nl-nl.facebook.com/">
            <img alt="Facebook" src="img/facebook-logo.png" width="80" height="80" onMouseOver="this.src='img/facebook-logo-active.png'" onMouseOut="this.src='img/facebook-logo.png'">
             </a>    </td>
        </tr>
        <tr>
            <td>Neem contact met ons op via TheaterDeRinkelaar@gmail.com</td>
        </tr>
    </table>
    <br style="clear:both" />    
</div>

    </div>


</body>
</html>

