<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> @ViewData["Title"] - Theater_De_Rinkelaar</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rhodium+Libre&display=swap" rel="stylesheet">
</head>
<body>

    <div class="header">
        <div class="flexboxplswerk">
            <img class="toplogo" src="https://i.imgur.com/daOvtF6.png" alt="Logo_Rinkelaar" />
            <div class="zoekbalk" style="float: right;">
                <form action="hiermoetduszegmaarshitnaardatabase">
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
        <div class="bigtext">@ViewData["Title"]</div>
    </div>


    <div id="navbar">
        <a class="@if (ViewData["activeTab"] == "home") { <text>active</text>}" href="/">Home</a>
        <a class="@if (ViewData["activeTab"] == "agenda") { <text>active</text>}" href="Agenda">Agenda</a>
        <a class="@if (ViewData["activeTab"] == "info") { <text>active</text>}" href="InformatieTheater">Informatie Theater</a>
        <a class="@if (ViewData["activeTab"] == "enquete") { <text>active</text>}" href="Enquête">Enquête</a>
    </div>




    @RenderBody()
    <div class="footer">
    <table>
        <tr>
            <td>Theater de Rinkelaar</td>
            <td>Volg ons op:</td>
        </tr>
        <tr>
            <td>Vragen?</td>
        </tr>
        <tr>
            <td>Neem contact met ons op via TheaterDeRinkelaar@gmail.com</td>
        </tr>
    </table>
    </div>

</body>
</html>