<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Theater_De_Rinkelaar</title>
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>

    <div class="header">
        @ViewData["Title"]
    </div>

    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="Privacy">Privacy</a>
        <a href="Contact">Contact</a>
        <a href="#about">About</a>
    </div>


    @RenderBody()
    <div class="footer">
        <p>Theater de Rinkelaar</p>
    </div>

</body>
</html>