@{
    ViewData["Title"] = "Agenda";
    ViewData["activeTab"] = "agenda";
}

<div class="row">
    <div class="column" style="background-color:blue;">Agenda-dingen</div>
    <div class="column" style="background-color:blueviolet;">Agenda-dingen</div>
</div>

<div class="row">
    <div class="column" style="background-color:blue;">Agenda-dingen</div>
    <div class="column" style="background-color:blueviolet;">Agenda-dingen</div>
</div>

<div class="row">
    <div class="column" style="background-color:blue;">Agenda-dingen</div>
    <div class="column" style="background-color:blueviolet;">Agenda-dingen</div>
</div>

<div class="row">
    <div class="column" style="background-color:blue;">Agenda-dingen</div>
    <div class="column" style="background-color:blueviolet;">Agenda-dingen</div>
</div>

<div class="row">
    <div class="column" style="background-color:blue;">Agenda-dingen</div>
    <div class="column" style="background-color:blueviolet;">Agenda-dingen</div>
</div>
