@{
    ViewData["Title"] = "Agenda";
}

<div class="topnav">
    <a href="/">Home</a>
    <a class= "active" href="Agenda">Agenda</a>
    <a href="InformatieTheater">Informatie Theater</a>
    <a href="Enquête">Enquête</a>
</div>

<div class="row">
    <div class="column" style="background-color:blue;">Agenda-dingen</div>
    <div class="column" style="background-color:blueviolet;">Agenda-dingen</div>
    <div class="column" style="background-color:lime;">Agenda-dingen</div>
</div>