@{
    ViewData["Title"] = "Agenda";
}

<div class="topnav">
    <a href="/">Home</a>
    <a class= "active" href="Agenda">Agenda</a>
    <a href="InformatieTheater">Informatie Theater</a>
    <a href="#Enquête">Enquête</a>
</div>

<p>Use this page to detail your site's privacy policy.</p>