@{
    ViewData["Title"] = "Contact";
    ViewData["activeTab"] = "contact";
}


<div class="row">
    <div class="column">
        Heb je vragen over voorstellingen of kom je problemen op de site tegen?
        <br>
        Bel ons via:
        06  696 966 69
        <br>
        Of email naar: TheaterDeRinkelaar@gmail.com
    </div>
</div>

<div class="row">
    <div class="column">
        <form method="post">
            Voornaam: <input type="text" name="FirstName" />
            Achternaam: <input type="text" name="LastName" />
            Email: <input type="text" name="Email" />
            Telefoonnummer: <input type="text" name="Phone" />
            Adres: <input type="text" name="Address" />
            Beschrijving: <input type="text" name="Description" />
            <input type="submit" value="verstuur" />
        </form>

        
    </div>
</div>
