@{
    ViewData["Title"] = "Enquête";
}

<div class="topnav">
    <a href="/">Home</a>
    <a href="Agenda">Agenda</a>
    <a href="InformatieTheater">Informatie Theater</a>
    <a class= "active" href="Enquête">Enquête</a>
</div>

<div class="row">
    <div class="column" style="background-color:blue;">Column</div>
    <div class="column" style="background-color:blueviolet;">Column</div>
    <div class="column" style="background-color:lime;">Column</div>
</div>