@{
    ViewData["Title"] = "Home Page";
}

<div id="navbar">
    <a class="active" href="/">Home</a>
    <a href="Agenda">Agenda</a>
    <a href="InformatieTheater">Informatie Theater</a>
    <a href="Enquête">Enquête</a>
</div>

<div class="row">
    <div class="column">
        <p>Voorstellingen ondanks corona!</p>
        <a class= "knop" href="Agenda">Reserveer snel! &rarr;</a>
    </div>
    <div class="column">
        <p>In Maart gaan er veel stukken bij ons in premiere!</p>
        <a class= "knop" href="Agenda">Kijk hier welke! &rarr;</a></div>
    <div class="column">Ik heb geen nieuws hier help</div>
</div>




<div class="row">
    <div class="fotos1">
        
    </div>

    <div class="tijdencolumn">
        <table class="tijden">
          <caption>Openingstijden</caption>
          <tr>
            <th>Dag:</th>
            <th>Tijden:</th>
          </tr>
          <tr>
            <td>Maandag:</td>
            <td>15:00-21:00</td>
          </tr>
          <tr>
            <td>Dinsdag:</td>
            <td>13:00-21:00</td>
          </tr>
          <tr>
            <td>Woensdag:</td>
            <td>13:00-21:00</td>
          </tr>
          <tr>
            <td>Donderdag:</td>
            <td>13:00-21:00</td>
          </tr>
          <tr>
            <td>Vrijdag:</td>
            <td>11:00-22:00</td>
          </tr>
          <tr>
            <td>Zaterdag:</td>
            <td>10:00-23:00</td>
          </tr>
          <tr>
            <td>Zondag:</td>
            <td>10:00-23:00</td>
          </tr>
        </table>
    </div>

    <div class="fotos2">
        
    </div>
</div>

