@{
    ViewData["Title"] = "Home Page";
}
<div class="row" style=""
    
     >
    <div class="column">Voorstellingen ondanks corona!</div>
    <div class="column">In Maart gaan er veel stukken bij ons in premiere!</div>
    <div class="column">Ik heb geen nieuws hier help</div>
</div>
