@{
    ViewData["Title"] = "Home Page";
}

<div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="Privacy">Privacy</a>
    <a href="Contact">Contact</a>
    <a href="#about">About</a>
</div>

<div class="row">
    <div class="column">Voorstellingen ondanks corona!</div>
    <div class="column">In Maart gaan er veel stukken bij ons in premiere!</div>
    <div class="column">Ik heb geen nieuws hier help</div>
</div>

<div classs="row">
    <div class="tijdencolumn">patatje</div>
</div>