@{
    ViewData["Title"] = "Home Page";
}

<div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="Agenda">Agenda</a>
    <a href="InformatieTheater">Informatie Theater</a>
    <a href="#Enquête">Enquête</a>
</div>

<div class="row">
    <div class="column">Voorstellingen ondanks corona!
        <a class= "knop" href="#about">Reserveer snel!</a>
    </div>
    <div class="column">In Maart gaan er veel stukken bij ons in premiere!</div>
    <div class="column">Ik heb geen nieuws hier help</div>
</div>

<div classs="row">
    <div class="tijdencolumn">patatje</div>
</div>