@{
    ViewData["Title"] = "Informatie Theater";
    ViewData["activeTab"] = "info";
}



<div class="row">
    <div class="column" style="background-color: #F8E5EE; color: black;">
        Op een boot genaamd de ameland.nl hebben wij een theater opgericht. Dit was het eerste theater op het water dat in gebruik werd genomen. Daar komt ook onze naam vandaan. Rinkelaar is namelijk een ander woord voor een boot. Zo zijn we langs meerdere havens gegaan totdat we uiteindelijk op een plek aan de vliet voor goed voor anker zijn gegaan en een tweede theater op de kust hebben laten bouwen. Nu hebben we elke week minstens één theatervoorstelling.
    </div>
    <div class="fotos3">
</div>
<div class="row"> </div>
    <div class="column" style="background-color: #F8E5EE; color: black;">
        Wij zijn te vinden op google maps met de volgende link:
        <br>
        
        <br>
            <div class ="link">
                 <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" />Theater de Rinkelaar op google maps</a>
            </div>
            
</div>
    
        
    </div>