@{
    ViewData["Title"] = "Onze Voorstellingen";
    ViewData["activeTab"] = "Voorstellingen";
}


<div class="row">
        <div class="column">
            <h3>Wij hanteren bij al onze voorstellingen de volgende prijzen:</h3>
            <table>
                <tr>
                    <td>
                        <p>kinderen tot 5 jaar</p>
                    </td>
                    <td>
                        <p>3 euro</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>minderjarigen van 6-18 jaar</p>
                    </td>
                    <td>
                        <p>7 euro</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>volwassenen van 18-60 jaar</p>
                    </td>
                    <td>
                        <p>9 euro</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>volwassenen ouder dan 60 jaar</p>
                    </td>
                    <td>
                        <p>5 euro</p>
                    </td>
                </tr>
            </table>
        </div>
 </div>

@foreach (var product in Model)
{
    <div class="row">
        <div class="column">
        <li> <h1> @product.Naam </h1> <h3 class="voorstellingtekst">Duur: @product.Duur</h3> <p class="voorstellingtekst"> Beschrijving: <br> @product.Beschrijvinglang </p> </li>
        </div>
    </div>
}
</ul>
