@{
    ViewData["Title"] = "Onze Voorstellingen";
    ViewData["activeTab"] = "Voorstellingen";
}




    <ul>
@foreach (var product in Model)
{
    <div class="row">
        <div class="column">
        <li> <h1> @product.Naam </h1> <h3 class="voorstellingtekst">Duur: @product.Duur</h3> <p class="voorstellingtekst"> Beschrijving: <br> @product.Beschrijvinglang </p> </li>
        </div>
    </div>
}
</ul>
