@{
    ViewData["Title"] = "Onze Voorstellingen";
    ViewData["activeTab"] = "Voorstellingen";
}

@*prijzentabel*@
<div class="row">
        <div class="column">
            <h3>Wij hanteren bij al onze voorstellingen de volgende prijzen:</h3>
            <table class="underscoretable">
                <tr >
                    <td class="patatje">
                        <p>kinderen tot 5 jaar</p>
                    </td>
                    <td>
                        <span class="material-symbols-outlined">arrow_right_alt</span>
                    </td>
                    <td>
                        <p>3 euro</p>
                    </td>
                </tr>
                <tr >
                    <td class="patatje">
                        <p>minderjarigen van 6-18 jaar</p>
                    </td>
                    <td>
                        <span class="material-symbols-outlined">arrow_right_alt</span>
                    </td>
                    <td>
                        <p>7 euro</p>
                    </td>
                </tr>
                <tr>
                    <td class="patatje">
                        <p>volwassenen van 18-60 jaar</p>
                    </td>
                    <td>
                        <span class="material-symbols-outlined">arrow_right_alt</span>
                    </td>
                    <td>
                        <p>9 euro</p>
                    </td>
                </tr>
                <tr>
                    <td class="patatje">
                        <p>volwassenen ouder dan 60 jaar</p>
                    </td>
                    <td>
                        <span class="material-symbols-outlined">arrow_right_alt</span>
                    </td>
                    <td>
                        <p>5 euro</p>
                    </td>
                </tr>
            </table>
        </div>
 </div>

@foreach (var product in Model)
{
    <div class="row">
        <div class="voorstellingcolumn3">          
            <table class="underscoretable">
                <tr>
                    <td>
                        <h1> @product.Naam </h1>
                    </td>

                </tr>
                <tr>
                    <td>
                        <h3 class="voorstellingtekst">Duur: @product.Duur</h3>
                    </td>

                </tr>
                <tr>
                    <td>
                        <p class="voorstellingtekst">De eerstvolgende opvoering van deze voorstelling is op: @product.Datum</p>
                    </td>

                </tr>
            </table>
        </div>
        <div class="voorstellingcolumn">
          <h2 class="voorstellingtekst">Beschrijving:</h2><p class="voorstellingtekst">@product.Beschrijvinglang</p>
        </div>
    </div>
}

