@{
    ViewData["Title"] = "Onze Voorstellingen";
    ViewData["activeTab"] = "Voorstellingen";
}




    <ul>
@foreach (var product in Model)
{
    <div class="row">
        <div class="column">
        <li> <h1> @product.Naam </h1> <br> @product.Beschrijving <br> @product.Datum</li>
        </div>
    </div>
}
</ul>
