@{
    ViewData["Title"] = "Pagina niet gevonden";
}

<div class="row">
    <div class="column3">
        <h1 class="errortext">De pagina waar u heen wilde bestaat helaas niet.</h1> 
        <p> Gebruik een van de navigatieknoppen of de home-knoppen om terug te gaan naar een bestaande pagina.</p>
        <a class="knop" href="/">Home</a>
    </div>
    <div class="column">
        <img alt="Verdrietig Theatermasker" src="/img/verdrietig-masker.png" height="300">
    </div>
</div>