@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="topnav">
    <a href="/">Home</a>
    <a class= "active" href="Privacy">Privacy</a>
    <a href="Contact">Contact</a>
    <a href="#about">About</a>
</div>

<p>Use this page to detail your site's privacy policy.</p>