@{
    ViewData["Title"] = "Contact";

}

<div class="row">
    <div class="column">
        <h1>werkt niet :(</h1> 
        <h1>Je hebt een secret gevonden!</h1>
        <h2>Op deze pagina staan onze eerdere dingen gelinkt </h2>
    </div>
</div>
<div class="row">
    <div class="column">
        <h2>Dit is ons tekstadventure waarbij je verdwaald in het bos veel avonturen beleeft:</h2>
        <div class="flexy">
             <iframe class="spelletjes" width="930" height="1100" frameborder="0" src="https://bit.ly/3O9D5yE"></iframe>
        </div>
    </div>
</div>
<div class="row">
    <div class="column">
        <h2>Wij hebben een vrachtwagenspel gemaakt:</h2>
        <p>(het laden kan even duren in verband met grote audio bestanden)</p>
        <div class="flexy">
            <iframe class="spelletjes" width="1250" height="1000" frameborder="0" src="https://trucksim1980.vinciento.repl.co?embed=true"></iframe>
        </div>
    </div>
</div>