@using Theater_De_Rinkelaar.Databases
@model Product
@{
    ViewData["Title"] = Model.Naam;
}

<div class = "text-center">
    <h1 class="display-4">@Model.Naam</h1>
    <p>@Model.Beschrijving</p>
</div>