@using Theater_De_Rinkelaar.Databases
@model Voorstelling
@{
   
    ViewData["Title"] = Model.Datum;
    ViewData["activeTab"] = "agenda";
}
<div class="row">
  <div class="column">
        <h1></h1>
        
        <button class="terugknop" onclick="history.back()"><img class="terugfoto" alt="Terugknop" src="/img/terugpijl.png">Ga terug </button>
        
        
        <h2>@Model.Datum - @Model.Naam</h2>
        <p>Tickets kopen</p>
        
  </div>


        

</div>