@using Theater_De_Rinkelaar.Databases
@model Voorstelling
@{
   
    ViewData["Title"] = Model.Datum;
    ViewData["activeTab"] = "agenda";
}
<div class="row">
  <div class="column">
        <h1></h1>
        
        <button class="terugknop" onclick="history.back()"><img class="terugfoto" alt="Terugknop" src="/img/terugpijl.png">Ga terug </button>
        
        
        <h2>@Model.Datum - @Model.Naam</h2>
        
        
  </div>
</div>

<div class="row">
    
    <div class="column">
        <h2>Tickets kopen</h2>
        <div class="movie-container">
      <select id="movie">
        <option value="3">Kind tot 5 jaar (€3)</option>
        <option value="7">6-18 jaar (€7)</option>
        <option value="9">18-60 jaar (€9)</option>
        <option value="5">60+ jaar (€5)</option>
      </select>
    </div>

    <ul class="showcase">
      <li>
        <div class="seat"></div>
        <small>Beschikbare plaatsen</small>
      </li>
      <li>
        <div class="seat selected"></div>
        <small>Gekozen plaatsen</small>
      </li>
      <li>
        <div class="seat occupied"></div>
        <small>Bezette plaatsen</small>
      </li>
    </ul>

    <div class="container">
       <div class="screen"></div>
      <div class="rij">
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
      </div>
      <div class="rij">
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat occupied"></div>
        <div class="seat occupied"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
      </div>
      <div class="rij">
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat occupied"></div>
        <div class="seat occupied"></div>
      </div>
      <div class="rij">
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
      </div>
      <div class="rij">
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat occupied"></div>
        <div class="seat occupied"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
      </div>
      <div class="rij">
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat occupied"></div>
        <div class="seat occupied"></div>
        <div class="seat occupied"></div>
        <div class="seat"></div>
      </div>
    </div>

     <p class="text">
      Je hebt <span id="count">0</span> stoelen geselecteerd voor een prijs van <span id="total">0</span> euro
    </p>

    <a class=agendaknop href="tickets/betalen">Ga door naar het betalen--></a>

    <script src="script.js"></script>
    </div>
</div>


<script src="/js/script.js"></script>

        

</div>

